:root {
    --color-primary: #C1CD21;
    --color-secondary: #4D4D4F;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
}

.text-right
{
    text-align:right;
}

.language-icon {
    position: relative;
    top: -1px;
    width: 15px;
    height: 15px;
}

img {
    width: 35%;
    height: 35%;
    vertical-align: middle;
    border-style: none;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.pr-0, .px-0 {
    padding-right: 0 !important;
}

.btn-custom {
    font-size: 0.8rem;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    padding: 0.85rem 2rem;
    transition: all .3s;
}


 .btn-custom.btn-filled {
        color: #fff!important;
        background: var(--color-primary);
    }

.text-black {
    color: #1d1d1d !important;
}
a {
    color: inherit !important;
    text-decoration: none !important;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.25);
    transition: all .3s;
    z-index: 9;
}

.nav-item
{
    width:auto;
}

    .nav-item a {
        padding-bottom: 12px;
        
    }

.nav-link {
    position: relative;
    letter-spacing: 0.5px;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}
.nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-primary);
    transition: all .3s;
}


.active:after,.nav-link:hover:after
{
    width:100%;
}
.text-grey
{
    color:grey;
}

.navbar-toggler {
    background: var(--color-secondary);
    border: none;
    height: 40px;
    margin-right: 10px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
    background: white;
}




.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
}

 .navbar-toggler:focus
 {
     box-shadow:none;
 }

.carousel-indicators [data-bs-target]
{
    width:10px!important;
    height:10px!important;
    border-radius:50%!important;
}

.carousel-caption {
    position: absolute;
    max-width: 400px;
    top: 60%;
    left: 66%;
    width: 100%;
    border-radius:20px;
    height:200px;
    background-color: #fff;
    transform: translate(-35%, -50%);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}


.letter-spacing-025 {
    letter-spacing: 0.25px;
}

.line-height-22 {
    line-height: 22.5px;
}
.text-ellipsis-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.text
{
    text-align:left;
    color:black;
}


.btn-custom.btn-filled:hover {
    color: var(--color-primary) !important;
    background: #fff;
    border-color: var(--color-primary);
}


.background-image.fixed {
    background-attachment: fixed;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-grey-1 {
    background: #f8f9f9;
}


.aos-animation {
    opacity: 1;
    transform: translateZ(0);
}


.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}
.font-number
{

}

.text-primary {
    color: var(--color-primary) !important;
}

.bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #D8D8D8;
}


    .bar span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-primary);
        transition: all 2s;
    }


.items {
    width: 90%;
    margin: 0px auto;
}

img.cover {
    object-fit: cover;
}

.slick-slide {
    margin: 10px
}

    .slick-slide img {
        width: 100%;
        height: 200px;
        border: 0px solid #fff;
        transition: all 0.3s;
    }

        .slick-slide img:hover {
            transform: scale(1.08) rotate(4deg);
            opacity: 0.75;
        }

        .bg-grey {
            background: #f3f3f3;
        }

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}
    .slick-dots li
{
    margin: 0 0.25rem;
}

        .slick-dots li button {
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: #D2D2D4;
            opacity:0.5;
            text-indent: -9999px;
        }

    .slick-dots .slick-active button {
        opacity: 1;
    }

.slick_card {
    width: 253px!important;
}

.bg-primary {
    background-color: var(--color-primary)!important;
    
}


.about-vitas img {
    width: 60px;
    height: 60px;
    padding: 7.5px;
    background: #fff;
    border-radius: 100%;
}

.text-1 {
    text-align: center;
    color: white;
    padding-top: 22px;
}


.box-shadow {
    position: relative;
    box-shadow: 0 0 30px #000014 !important;
    z-index: 1;
}

.btn-seconde {
    font-size: 0.8rem;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    padding: 0.85rem 2rem;
    transition: all .3s;
    color: var(--color-primary);
    
}
    .btn-seconde:hover {
        color: white;
        background-color: var(--color-primary);
    }


    .btn-seconde b {
        color: var(--color-primary);
    }

    .btn-seconde:hover b {
        color: white;
    }

.picture-wrapper {
    position: relative;
}

.padding-top-70
{
    padding-top:70%;
}


.text-ellipsis-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-ellipsis-8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.p-r-0
{
    padding-right:0;
}

.p-l-0
{
    padding-left:0;
}

.testimonial {
    line-height: 30px;
}

.letter-spacing-05 {
    letter-spacing: 0.5px;
}

.pre-line {
    white-space: pre-line;
}

.letter-spacing-1 {
    letter-spacing:1px;
}

.textslide .slick-dots li button {
    background: var(--color-primary);
    opacity: 1;
}

    .textslide .slick-dots  .slick-active button {
        background: white;
    }


.rounded-0 {
    border-radius: 0 !important;
}

.like-input {
    min-height: 50px;
    height: auto;
    line-height: calc(48px - 0.75em);
    color: #787878;
    border: none;
    border-radius: 0;
    letter-spacing: 0.25px;
    padding: 0.375rem 1rem 0.375rem 1.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.bg-white {
    background: #ffffff;
}

.switch {
    position: relative;
    width: 40px;
    height: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.float-right
{
    float:right;
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E5;
    transform: translateY(16px);
}

    .slider.round:before {
        border-radius: 50%;
    }

    .slider:before {
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: var(--color-primary);
        -webkit-transition: all .4s;
        transition: all .4s;
    }

.form-custom {
    height: 50px;
    border: none;
    font-size: 13px;
    padding: 0.375rem 2.5rem 0.375rem 1.75rem;
    margin-bottom:16px;
}

.custom-select-wrapper
{
    position:relative;
}

 .custom-select-wrapper input[readonly] {
        background: #fff;
        cursor: pointer;
    }


    .custom-select-wrapper ul {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 200px;
        background: #eee;
        padding: 0;
        overflow: auto;
        z-index: 2;
    }

        .custom-select-wrapper ul li {
            padding: 10px 15px;
            border-bottom: 1px solid #e7e7e7;
            cursor: pointer;
            transition: .3s all;
        }

.custom-select-wrapper svg {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 15px;
    background: #E8E8E8;
    border-radius: 100%;
    padding: 3px;
    transform: translateY(-50%) rotate( 0deg );
    cursor: pointer;
    transition: .5s all;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--color-primary);
}

input:checked + .slider:before {
    transform: translateY(-50%) translateX(-15px);
}

.logo {
    width: 250px;
    height: auto;
}

.store {
    width: 150px;
    height: auto;
}


.contain
{
    object-fit:contain;
}


.bg-seconde{
    background-color:var(--color-secondary);
}

.social svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #fff;
    transition: all .3s;
}

footer img {
    width: auto;
    height: 120px;
}

.onScroll {
    background: #fff;
    box-shadow: 0 0 8px 0 #000019;
}


.btn-locate {
    position: fixed;
    top: 45%;
    right: -50px;
    z-index: 2;
    transform: rotate( -90deg );
}

.loadscreen
{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    z-index:999;
    
}
[data-aos] {
    pointer-events: none;
}
 .aos-animate

{
    pointer-events: auto;
}



.z-index-1 {
    z-index: 1;
}
.load-spinner:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    border: 4px solid var(--color-primary);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 100%;
    transition: all 0.5s;
    -webkit-animation: rotate 1s ease infinite;
    animation: rotate 1s ease infinite
}
    .load-spinner img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
    }

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}