
@{
    ViewBag.Title = "Home";
}


<div id="slideshow" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#slideshow" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner" style="height:600px">
        <div class="carousel-item active">
            <img class="cover d-block w-100" style="height:600px;object-fit: cover;" src="https://vitasiraq.com/public/storage/products/September2021/3vvGH2cf6nyK4PtHvoIP.jpg" alt="product - SPECIAL NEEDS LOAN">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-black mb-3"><b>SPECIAL NEEDS LOAN</b></h3>
                <p class="line-height-22  text-black letter-spacing-025 text-ellipsis-4 mb-3 dir-rtl">We believe in your ambition, start your business now</p>
                <a href="#" class="btn btn-custom btn-filled"><b>APPLY NOW</b></a>
            </div>
        </div>
        <div class="carousel-item">
            <img class="cover d-block w-100" style="height:600px;object-fit: cover;" src="https://vitasiraq.com/public/storage/advertisements/September2021/tyhEyEY0eFJvvq6UpaAb.jpg" alt="product - SPECIAL NEEDS LOAN">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-black mb-3"><b>SPECIAL NEEDS LOAN</b></h3>
                <p class="line-height-22  text-black letter-spacing-025 text-ellipsis-4 mb-3 dir-rtl">We believe in your ambition, start your business now</p>
                <a href="#" class="btn btn-custom btn-filled"><b>APPLY NOW</b></a>
            </div>
        </div>

        <div class="carousel-item">
            <img class="cover d-block w-100" style="height:600px;object-fit: cover;" src="https://vitasiraq.com/public/storage/products/September2021/Or9kncLiX6kQsccPSskb.jpg" alt="product - SPECIAL NEEDS LOAN">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-black mb-3"><b>SPECIAL NEEDS LOAN</b></h3>
                <p class="line-height-22 text-black letter-spacing-025 text-ellipsis-4 mb-3 dir-rtl">We believe in your ambition, start your business now</p>
                <a href="#" class="btn btn-custom btn-filled"><b>APPLY NOW</b></a>
            </div>
        </div>

        <div class="carousel-item">
            <img class="cover d-block w-100" style="height:600px;object-fit: cover;" src="https://vitasiraq.com/public/storage/products/September2021/iljU607v8CamDnBWOqml.jpg" alt="product - SPECIAL NEEDS LOAN">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-black mb-3"><b>SPECIAL NEEDS LOAN</b></h3>
                <p class="line-height-22  text-black letter-spacing-025 text-ellipsis-4 mb-3 dir-rtl">We believe in your ambition, start your business now</p>
                <a href="#" class="btn btn-custom btn-filled"><b>APPLY NOW</b></a>
            </div>
        </div>

    </div>

</div>

<div class="background-image fixed py-5 text-center" style="background-image: url(https://vitasiraq.com/assets/images/AboutBGD.jpg)">
    <div class="container-fluid">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-lg-7 col-md-7 " data-aos="zoom-in-up">
                <h4 class="text-black mb-4" data-aos="zoom-in-up"><b>About Us</b></h4>
                <div class="line-height-22 letter-spacing-025 text-grey mb-4"><p><span style="color: #575757; font-family: Verdana, sans-serif; font-size: 13px; text-align: justify;">Since 2003, CHF Vitas Iraq have had the privilege of serving the communities of Iraq by offering financial services for the owners of micro and small businesses enabling them to increase their income.</span></p></div>
                <a href="#" class="btn btn-custom btn-filled"><b>READ MORE</b></a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="bg-grey-1 p-md-5 col-md-6 px-3 py-5" >
            <h4 class="mb-4 text-black aos-animation" data-aos="zoom-in-up"><b>Vitas in Numbers</b></h4>
            <ul class="list-style-none text-black" data-aos="zoom-in-down">
                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> Number Of Jobs Created </span>&nbsp;<span class="text-primary ml-3">19746</span></b>
                    <div class="bar mt-2" data-percentage="19.746">
                        <span style="width: 19.746%;"></span>
                    </div>
                </li>
                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> NUMBER OF JOBS SUSTAINED </span>&nbsp;<span class="text-primary ml-3">7559</span></b>
                    <div class="bar mt-2" data-percentage="7.559">
                        <span style="width: 7.559%;"></span>
                    </div>
                </li>

                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> WOMEN SERVED </span>&nbsp;<span class="text-primary ml-3">85624</span></b>
                    <div class="bar mt-2" data-percentage="85.624">
                        <span style="width: 85.624%;"></span>
                    </div>
                </li>
                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> NUMBER OF IMPROVED HOUSES </span>&nbsp;<span class="text-primary ml-3">34153</span></b>
                    <div class="bar mt-2" data-percentage="34.153">
                        <span style="width: 34.153%;"></span>
                    </div>
                </li>
                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> YOUTH   </span>&nbsp;<span class="text-primary ml-3">184228</span></b>
                    <div class="bar mt-2" data-percentage="18.4228">
                        <span style="width: 18.4228%;"></span>
                    </div>
                </li>

                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> NUMBER OF ACTIVE LOANS   </span>&nbsp;<span class="text-primary ml-3">31445</span></b>
                    <div class="bar mt-2" data-percentage="31.445">
                        <span style="width: 31.445%;"></span>
                    </div>
                </li>
                <li class="aos-animate mb-4 pb-2">
                    <b><span class="text-uppercase"> NUMBER OF DISBURSED LOANS  </span>&nbsp;<span class="text-primary ml-3">401057</span></b>
                    <div class="bar mt-2" data-percentage="40.1057">
                        <span style="width: 40.1057%;"></span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-md-6 bg-grey px-3 py-5 px-md-4 pr-lg-0">
            <h4 class="text-black text-center mb-4"><b>Success Stories</b></h4>
            <div class="items">
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/January2022/cwUo7csCzqzWWQ3CLZle.jpg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/January2022/E20PDFJncU2HhSxApeAl.jpeg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/January2022/THEdTOyBFEw6dyXdm6Gg.jpg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/September2021/8f4NQQ579OJIBCvzTw2e.jpg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/September2020/zGQEwIIrfF9yf2m8f9jC.jpg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
                <div class="card slick_card">
                    <img class="card-img-top picture-wrapper cover" src="https://vitasiraq.com/public/storage/success-stories/September2020/omNbnHHd2agoK2m7aLf1.jpg" alt="success story - Atheel Mohammed Kazem - Baghdad">
                    <div class="card-body text-center">
                        <h5 class="card-title text-black">
                            Card title
                            <b>Atheel Mohammed Kazem - Baghdad</b>
                        </h5>
                        <p class="card-text text-grey">Developing a women's luxury and perfume store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center box-shadow  ">
    <div class="row bg-primary text-1">
        <div class="col mb-3 mb-md-0 about-vitas">
            <img class="d-block mx-auto mb-2" src="https://vitasiraq.com/public/storage/about-vitas/November2019/jaqNEvpKVvGOwGcmABOc.png" alt="15 BRANCHES">
            <p><b>15</b></p>
            <p>BRANCHES</p>
        </div>
        <div class="col mb-3 mb-md-0 about-vitas">
            <img class="d-block mx-auto mb-2" src="https://vitasiraq.com/public/storage/about-vitas/November2019/BemgJ2HkenvteLTvTElJ.png" alt="16 YEARS OF OPERATIONS">
            <p><b>16</b></p>
            <p>YEARS OF OPERATIONS</p>
        </div>

        <div class="col mb-3 mb-md-0 about-vitas">
            <img class="d-block mx-auto mb-2" src="https://vitasiraq.com/public/storage/about-vitas/November2019/wvByXiPbwYToIFKDbYRG.png" alt="500 EMPLOYEES">
            <p><b>500</b></p>
            <p>EMPLOYEES</p>
        </div>
        <div class="col mb-3 mb-md-0 about-vitas">
            <img class="d-block mx-auto mb-2" src="https://vitasiraq.com/public/storage/about-vitas/November2019/wvByXiPbwYToIFKDbYRG.png" alt="350000 LOANS DISBURSED">
            <p><b>350000 </b></p>
            <p>LOANS DISBURSED</p>
        </div>
        <div class="col mb-3 mb-md-0 about-vitas">
            <img class="d-block mx-auto mb-2" src="https://vitasiraq.com/public/storage/about-vitas/November2019/AUkBBayF2ofiKG1JUGqJ.png" alt="34000 ACTIVE CLIENTS">
            <p><b>34000  </b></p>
            <p>ACTIVE CLIENTS</p>
        </div>

    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row mt-5">
        <div class="col-md-10 text-center">
            <h3 class="text-black text-center"><b>COMMUNITY EVENTS</b></h3>
        </div>
        <div class="col-md-2 text-right">
            <a href="#" class="btn btn-seconde "><b>VIEW ALL</b></a>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-6 pr-md-0 ar-pr-md-3 p-r-0">
            <div class="picture-wrapper h-100">
                <a href="#">
                    <img class="cover w-100 h-100" src="https://vitasiraq.com/public/storage/community-events/January2022/IDD18h0mzdlGxhFmrb3W.jpg"
                         alt="community events - We care about your health- Erbil" />
                </a>
            </div>
        </div>
        <div class="col-md-6 pl-md-0 ar-pl-md-3 p-l-0">
            <div class="bg-grey d-table h-100 text-black w-100 px-4 px-md-5 py-3 py-md-0">
                <div class="align-middle d-table-cell px-0 px-md-5">
                    <a href="#">
                        <h4 class="mb-2 text-ellipsis-1"><b>We care about your health- Erbil</b></h4>
                    </a>
                    <p class="mb-3"><em>January 2021</em></p>
                    <p class="text-ellipsis-8 mb-2">
                        The primary goal of the campaigns carried out by our foundation and still existing is to prevent, as much as possible, the threat of Coronavirus to various segments of society.
                        Yesterday, our campaign was targeting the security forces and the health sector to alleviate their suffering from those standing in the first line of prevention to confront the emerging corona virus.
                        Today, our campaign targets orphans and the elderly, and from here we consider that the medical supplies distribution campaign carried out by CHF Vitas Iraq is a necessary thing to protect and prevent the threat of the emerging corona virus and to contribute to preventing its spread.
                        Our fifth stop is Erbil Governorate, after coordination with the Department of Foreign International Relations and the Ministry of Labor and Social Affairs, orphanages and the elderly were nominated as the most deserving group and that needs special care in order to protect them and reduce the threat of Corona virus on them.
                        The process of preparing personal necessities is considered one of the initiatives that enhance the spirit of community solidarity among the various segments of society, and it is the humanitarian duty of CHF Vitas Iraq and its keenness to be the main motivation for the implementation of this activity due to its importance in the present age.
                        This work was covered in the media through the satellite channels:
                        Kurdistan tv, Kurdsat, KTV, Zagros Tv
                        In addition to social media
                    </p>
                    <a href="#" class="btn btn-custom btn-filled py-1 px-2">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="element-hover image-colored">
                <a href="#">
                    <div class="picture-wrapper overflow-hidden padding-top-65">
                        <img class="cover w-100 h-100" src="https://vitasiraq.com/public/storage/community-events/January2022/Bqw6DJHlDEjnF18GVhKc.png" alt="community events - Warmth campaign- Sulaymaniyah">
                    </div>
                </a>
                <div class="bg-grey text-black py-3 px-4">
                    <a href="#">
                        <p class="text-ellipsis-1"><b>Warmth campaign- Sulaymaniyah</b></p>
                    </a>
                    <p class="mb-1"><em>December 2021</em></p>						<p class="text-justify text-ellipsis-4 mb-2">
                        Our campaign was launched to provide the simplest needs during this cold weather especially in the north.
                        After prior coordination with government agencies in the Kurdistan Region - Sulaymaniyah Governorate, specifically with the Asayish Directorate, a plan of action was developed to implement the warmth campaign for families in need in the governorate. On Tuesday, 12/21/2021, our team went to many areas (Khabat neighborhood, Tangro neighborhood) to distribute heaters and blankets to families from the Arab and Kurdish groups who were nominated in advance by the mayors of the two areas. Our campaign also included the category of people with special needs. The smiles on the faces of children, women and the elderly were a motivation for us to continue our work. All attendees and beneficiary families thank and praise our institution for its continuous support to various segments of society.
                        The representatives were the Asayish forces and the mayors of the areas in which the activity was carried out attended.
                        The activity was covered in the media by Gali Kurdistan satellite channel, Ain Sulaymaniyah page and some social media.
                    </p>

                    <a href="#" class="btn btn-custom btn-filled py-1 px-2">READ MORE</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="element-hover image-colored">
                <a href="#">
                    <div class="picture-wrapper overflow-hidden padding-top-65">
                        <img class="cover w-100 h-100" src="https://vitasiraq.com/public/storage/community-events/January2022/F5PsadMqNxLmEdYtOGmj.png" alt="community events - Warmth campaign- Sulaymaniyah">
                    </div>
                </a>
                <div class="bg-grey text-black py-3 px-4">
                    <a href="#">
                        <p class="text-ellipsis-1"><b>Warmth campaign- Sulaymaniyah</b></p>
                    </a>
                    <p class="mb-1"><em>December 2021</em></p>						<p class="text-justify text-ellipsis-4 mb-2">
                        Our campaign was launched to provide the simplest needs during this cold weather especially in the north.
                        After prior coordination with government agencies in the Kurdistan Region - Sulaymaniyah Governorate, specifically with the Asayish Directorate, a plan of action was developed to implement the warmth campaign for families in need in the governorate. On Tuesday, 12/21/2021, our team went to many areas (Khabat neighborhood, Tangro neighborhood) to distribute heaters and blankets to families from the Arab and Kurdish groups who were nominated in advance by the mayors of the two areas. Our campaign also included the category of people with special needs. The smiles on the faces of children, women and the elderly were a motivation for us to continue our work. All attendees and beneficiary families thank and praise our institution for its continuous support to various segments of society.
                        The representatives were the Asayish forces and the mayors of the areas in which the activity was carried out attended.
                        The activity was covered in the media by Gali Kurdistan satellite channel, Ain Sulaymaniyah page and some social media.
                    </p>

                    <a href="#" class="btn btn-custom btn-filled py-1 px-2">READ MORE</a>

                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="element-hover image-colored">
                <a href="#">
                    <div class="picture-wrapper overflow-hidden padding-top-65">
                        <img class="cover w-100 h-100" src="https://vitasiraq.com/public/storage/community-events/January2022/a2j3XNDEYjuvyQOQqTdP.jpg" alt="community events - Warmth campaign- Sulaymaniyah">
                    </div>
                </a>
                <div class="bg-grey text-black py-3 px-4">
                    <a href="#">
                        <p class="text-ellipsis-1"><b>Warmth campaign- Sulaymaniyah</b></p>
                    </a>
                    <p class="mb-1"><em>December 2021</em></p>						<p class="text-justify text-ellipsis-4 mb-2">
                        Our campaign was launched to provide the simplest needs during this cold weather especially in the north.
                        After prior coordination with government agencies in the Kurdistan Region - Sulaymaniyah Governorate, specifically with the Asayish Directorate, a plan of action was developed to implement the warmth campaign for families in need in the governorate. On Tuesday, 12/21/2021, our team went to many areas (Khabat neighborhood, Tangro neighborhood) to distribute heaters and blankets to families from the Arab and Kurdish groups who were nominated in advance by the mayors of the two areas. Our campaign also included the category of people with special needs. The smiles on the faces of children, women and the elderly were a motivation for us to continue our work. All attendees and beneficiary families thank and praise our institution for its continuous support to various segments of society.
                        The representatives were the Asayish forces and the mayors of the areas in which the activity was carried out attended.
                        The activity was covered in the media by Gali Kurdistan satellite channel, Ain Sulaymaniyah page and some social media.
                    </p>

                    <a href="#" class="btn btn-custom btn-filled py-1 px-2">READ MORE</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <div class="element-hover image-colored">
                <a href="#">
                    <div class="picture-wrapper overflow-hidden padding-top-65">
                        <img class="cover w-100 h-100" src="https://vitasiraq.com/public/storage/community-events/September2020/yVxDGXePXDruB11sc1L8.JPG" alt="community events - Warmth campaign- Sulaymaniyah">
                    </div>
                </a>
                <div class="bg-grey text-black py-3 px-4">
                    <a href="#">
                        <p class="text-ellipsis-1"><b>Warmth campaign- Sulaymaniyah</b></p>
                    </a>
                    <p class="mb-1"><em>December 2021</em></p>						<p class="text-justify text-ellipsis-4 mb-2">
                        Our campaign was launched to provide the simplest needs during this cold weather especially in the north.
                        After prior coordination with government agencies in the Kurdistan Region - Sulaymaniyah Governorate, specifically with the Asayish Directorate, a plan of action was developed to implement the warmth campaign for families in need in the governorate. On Tuesday, 12/21/2021, our team went to many areas (Khabat neighborhood, Tangro neighborhood) to distribute heaters and blankets to families from the Arab and Kurdish groups who were nominated in advance by the mayors of the two areas. Our campaign also included the category of people with special needs. The smiles on the faces of children, women and the elderly were a motivation for us to continue our work. All attendees and beneficiary families thank and praise our institution for its continuous support to various segments of society.
                        The representatives were the Asayish forces and the mayors of the areas in which the activity was carried out attended.
                        The activity was covered in the media by Gali Kurdistan satellite channel, Ain Sulaymaniyah page and some social media.
                    </p>

                    <a href="#" class="btn btn-custom btn-filled py-1 px-2">READ MORE</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 mb-4" style="background: var(--color-secondary)">
    <div class="textslide text-center">
        <div style="color:white">
            <h6 class="testimonial letter-spacing-05 pre-line mb-2"><em>"</em> Dealing with CHF Vitas Iraq made me feel honored and supported. I am proud to be a loyal customer! <em>"</em></h6>
            <small class="letter-spacing-1"><em><b>DERIN MOHAMAD SALEH, </b>BEAUTY SALON, SULEIMANIYA</em></small>
        </div>
        <div style="color:white">
            <h6 class="testimonial letter-spacing-05 pre-line mb-2"><em>"</em> Thanks to CHF Vitas Iraq I was able to develop and grow my business. My family's quality of life improved significantly! <em>"</em></h6>
            <small class="letter-spacing-1"><em><b>WISSAM SALEEM SULTAN, </b>CAR REPAIR SHOP OWNER, AL DIWANIYA</em></small>
        </div>
        <div style="color:white">
            <h6 class="testimonial letter-spacing-05 pre-line mb-2"><em>"</em> I wish continuous progress for CHF Vitas Iraq and its outstanding staff for what it offers to the people of the province. <em>"</em></h6>
            <small class="letter-spacing-1"><em><b>WISSAM MALEK HAMIDI, </b>FURNITURE SHOP OWNER, AL NAJAF</em></small>
        </div>
    </div>
</div>
<div class="bg-grey py-5">
    <div class="container py-3">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-6 text-black">
                <h3 class="letter-spacing-05 mb-3"><b>Check if you're eligible for a loan</b></h3>
                <div class="line-height-22"><p>The final eligibility decision is subject to a field assessment and evaluation of your business and situation by the CHF Vitas Iraq team.</p></div>
            </div>
        </div>
        <form method="post" data-aos="fade-up">
            <input type="hidden" name="_token" value="gpyJmuziia33jQ3C6TRGp1aq8RhlPt2NIWHBVtYm">
            <div class="row mb-2">
                <div class="col-md-6 pr-3">
                    <div class="aos-animate form-group" data-aos="fade-up">
                        <input type="text" class="form-control  form-custom rounded-0" name="full_name" placeholder="Full Name" value="">
                    </div>
                    <div class="aos-animate form-group" data-aos="fade-up">
                        <input type="text" class="form-control form-custom rounded-0" name="phone" placeholder="Phone" value="">

                    </div>
                    <div class="aos-animate form-group z-index-1" data-aos="fade-up">
                        <div class="custom-select-wrapper test" id="list">

                            <input class="form-control form-custom" id="type_of_loans" name="type_of_loans" placeholder="Type of Loans" readonly="">
                            <ul id="showlist" data-aos="fade-up">
                                <li data-value="1">BUSINESS LOAN</li>
                                <li data-value="2">HOME IMPROVEMENT LOAN</li>
                                <li data-value="4">SPECIAL NEEDS LOAN</li>
                            </ul>
                            <svg id="listsvg" width="12.674" height="7.815" viewBox="0 0 12.674 7.815">
                                <path d="M60.129,0,58.65,1.479l4.858,4.858L58.65,11.195l1.479,1.479,6.337-6.337Z" transform="translate(12.674 -58.65) rotate(90)" fill="#fff"></path>
                            </svg>
                        </div>

                    </div>

                    <div class="aos-animate form-group mb-4" >
                        <input type="number" class="form-control form-custom rounded-0" name="age" placeholder="Your Age" value="">
                    </div>
                    <div class="aos-animate form-group mb-4" >
                        <div class="like-input bg-white rounded-0">
                            <div class="d-inline-block">
                                Are you a Business owner?
                            </div>
                            <div class="d-inline-block float-right text-black">
                                Yes
                                <label class="switch mx-2">
                                    <input type="checkbox" name="business_owner">
                                    <span class="slider round"></span>
                                </label>
                                No
                            </div>
                        </div>
                    </div>
                    <div class="aos-animate form-group" >
                        <div class="like-input bg-white rounded-0">
                            <div class="d-inline-block">
                                Are you an employee?
                            </div>
                            <div class="d-inline-block float-right text-black">
                                Yes
                                <label class="switch mx-2">
                                    <input type="checkbox"  name="employee">
                                    <span class="slider round"></span>
                                </label>
                                No
                            </div>
                        </div>
                    </div>

                    <div class="append-fields">

                    </div>
                </div>
                <div class="col-md-6 pl-3 pl-md-2 ar-pl-md-3">
                    <div class="form-group aos-init aos-animate" >
                        <input type="number" class="form-control form-custom rounded-0" name="monthly_income" placeholder="Your monthly income in $" value="">

                    </div>

                    <div class="form-group aos-init aos-animate" >
                        <input type="number" class="form-control form-custom rounded-0" name="monthly_expenses" placeholder="Your monthly expenses in $" value="">

                    </div>

                    <div class="form-group aos-init aos-animate" data-aos="fade-up">
                        <div class="like-input bg-white rounded-0">
                            <div class="d-inline-block">
                                Are you able to provide one or more guarantors?
                            </div>
                            <div class="d-inline-block float-right text-black">
                                Yes
                                <label class="switch mx-2">
                                    <input type="checkbox"  name="guarantors">
                                    <span class="slider round"></span>
                                </label>
                                No
                            </div>
                        </div>
                    </div>

                    <div class="form-group z-index-1 aos-init aos-animate mt-3" >
                        <div class="custom-select-wrapper" id="listgovernorate">

                            <input class="form-control form-custom" id="governorate" name="governorate" placeholder="Governorate" readonly="">
                            <ul id="showgovernorate" >
                                <li data-value="12">Basra</li>
                                <li data-value="9">Diwaniya</li>
                                <li data-value="15">Erbil</li>
                                <li data-value="5">Hashimiya</li>
                                <li data-value="4">Hilla</li>
                                <li data-value="7">Hindiya</li>
                                <li data-value="3">Kadhumiya</li>
                                <li data-value="6">Karbala</li>
                                <li data-value="11">Kut</li>
                                <li data-value="1">Mansour</li>
                                <li data-value="13">Mudaina</li>
                                <li data-value="8">Najaf</li>
                                <li data-value="10">Nasiriya</li>
                                <li data-value="14">Sulaimaniya</li>
                                <li data-value="2">Wehda</li>
                            </ul>
                            <svg id="listgovernorate-svg" width="12.674" height="7.815" viewBox="0 0 12.674 7.815">
                                <path d="M60.129,0,58.65,1.479l4.858,4.858L58.65,11.195l1.479,1.479,6.337-6.337Z" transform="translate(12.674 -58.65) rotate(90)" fill="#fff"></path>
                            </svg>
                        </div>

                    </div>

                    <button type="submit" onclick="return" class="btn btn-custom btn-filled w-100 px-5 aos-init aos-animate" ><b class="px-5" data-text="SUBMIT" data-loading-text="LOADING...">SUBMIT</b></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid text-center bg-white p-4 box-shadow">
    <div class="row">
        <div class="col-md-6 py-5 my-md-0">
            <div class="d-table w-100 h-100">
                <div class="d-table-cell align-middle">
                    <img class="aos-animate logo mb-4" src="https://vitasiraq.com/assets/images/logo.png" alt="Logo" data-aos="zoom-in-up">
                    <h5 class="aos-animate mb-4 text-black" data-aos="zoom-in-up"><b>Download our App!</b></h5>
                    <a href="#" target="_blank">
                        <img class="aos-animate store" src="https://vitasiraq.com/assets/images/icons/google-play-badge.png" data-aos="zoom-in-up">
                    </a>
                    <a href="#" target="_blank">
                        <img class="aos-animate store" src="https://vitasiraq.com/assets/images/icons/app-store-badge.png" data-aos="zoom-in-up">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="contain w-100 h-100" src="https://vitasiraq.com/public/storage/banners/September2021/MHHcuro4ToiSwV81u1WP.png" alt="Download our application on play store and app store">
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    
    <script type="text/javascript">
        document.getElementById("list").onclick = function () {
            if (document.getElementById("showlist").style.display == "block") {
                document.getElementById("showlist").style.display = "none";
                document.getElementById("listsvg").style.transform = "translateY(-50%)  rotate(0deg)";

            } else {
                document.getElementById("showlist").style.display = "block";
                 document.getElementById("listsvg").style.transform = "translateY(-50%)  rotate(180deg)";

            }
    }

    document.getElementById("listgovernorate").onclick = function () {
            if (document.getElementById("showgovernorate").style.display == "block") {
                document.getElementById("showgovernorate").style.display = "none";
                document.getElementById("listgovernorate-svg").style.transform = "translateY(-50%)  rotate(0deg)";
                
            } else {
                document.getElementById("showgovernorate").style.display = "block";
               document.getElementById("listgovernorate-svg").style.transform = "translateY(-50%)  rotate(180deg)";

            }
        }
        let listItems = document.querySelectorAll('#showlist li');
        var name = "";
        listItems.forEach((item, index) => {
            item.addEventListener('click', (event) => {
                name = event.currentTarget.innerHTML;
                document.getElementById("type_of_loans").value = event.currentTarget.innerHTML;
                if (name == "BUSINESS LOAN") {
                    $(".append-fields").empty();
                    $(".append-fields").append('' +

                        '<div class="aos-animate form-group mt-4" data-aos="fade-up" data-type="age_business"><input type="text" class="form-control form-custom rounded-0" name="age_business" placeholder="What is the age of your business?" value=""></div>'
                    );
                } else if (name == "HOME IMPROVEMENT LOAN") {
                    $(".append-fields").empty();
                    $(".append-fields").append('' +
                        '<div class="form-group mt-4 aos-animate" data-aos="fade-up"><div class="like-input bg-white rounded-0"><div class="d-inline-block">Do you own the home that you want to improve?</div><div class="d-inline-block float-right text-black">Yes<label class="switch mx-2"><input type="checkbox" name="own_home"><span class="slider round"></span></label>No</div></div></div>'
                    );
                } else {
                    $(".append-fields").empty();
                    $(".append-fields").append('' +
                        '<div class="form-group mt-4 aos-init aos-animate" data-aos="fade-up" data-type="age_business"><input type="text" class="form-control form-custom rounded-0" name="age_business" placeholder="What is the age of your business?" value=""></div>'
                    );
                }
            });

        });


     let listItemsgovernorate = document.querySelectorAll('#showgovernorate li');
        var names = "";
        listItemsgovernorate.forEach((item, index) => {
            item.addEventListener('click', (event) => {
                names = event.currentTarget.innerHTML;
                document.getElementById("governorate").value = event.currentTarget.innerHTML;
               
                
            });

        });


    
    </script>
}
